.signUpMain {
    margin-top: 2rem;
    min-height: 100vh;
    padding-top: 5rem;
}
// .form-horizontal {
//     padding: 4%;
// }
.signUpBackground {
    background-image: url("../Images/signUpBackground.jpg");
    min-width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

// .signUpForm {
//     border: 1px solid green;
// }
