.logInMain {
    margin-top: 2rem;
    min-height: 100vh;
    padding-top: 5rem;
}
// .logInFailure {
//     color: red;
//     margin-top: 3%;
//     text-align: center;
//     background-color: red;
//     width: 50%;
//     display: flex;
//     justify-content: center;
//
// }
// .form-horizontal {
//     padding: 3%;
// }
.logInBackground {
    background-image: url("../Images/logInBackground.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
